[Unit]
Description=Rsync backup to a remote host by ssh

[Service]
Type=oneshot
Environment="USER=lgaggini"
Environment="KEY=%h/.ssh/backup-rsync"
Environment="DESTINATION=astserver01.register.it:bak/"
ExecStart=/usr/bin/rsync -az --delete -e "/usr/bin/ssh -i ${KEY}" %h/bak/ ${USER}@${DESTINATION}
