[Unit]
Description=Greenclip agent
After=display-manager.service

[Service]
Type=simple
ExecStart=%h/bin/greenclip daemon
Restart=always

[Install]
WantedBy=default.target
