#!/bin/bash
#---------------------------
#--       .aliases        --
#--      by lgaggini      --
#--      CC BY-SA 3.0     --
#---------------------------

# alias list
alias aliases='grep alias < ~/.aliases | grep -v complete | grep -v function'

# package management aliases
pkg_manager=zypper

## yay
if [ "$pkg_manager" = "yay" ]; then
  alias ysyu='yay -Syu'
  alias ysyua='yay -Syua'
  alias ys='yay -S'
  alias ysy='yay -Sy'
  alias yrs='yay -Rs'
  alias yr='yay -R'
  alias yss='yay -Ss'
  alias ysc='yay -Sc'
  alias yscc='yay -Scc'
  alias yqe='yay -Qe'
  alias yqs="yay -Qs"
  alias yql="yay -Ql"
  alias yqi="yay -Qi"
  alias yqqtd="yay -Qqtd"
  alias yqm="yay -Qm"
  alias ymr="sudo reflector --latest 50 --age 24 --sort rate --save /etc/pacman.d/mirrorlist"
  ### completion for yay / pacman
  function _pacalias
  {
      local cur
      source /usr/share/bash-completion/completions/pacman
      cur="${COMP_WORDS[COMP_CWORD]}"
      case $COMP_WORDS in
          yr*)
              _pacman_pkg Qq;;
          yq*)
              { _arch_incomp 'g groups' && _pacman_pkg Qg sort; }    ||
              { _arch_incomp 'p file'   && _pacman_file; }           ||
              _arch_incomp 'o owns'   || _arch_incomp 'u upgrades' ||
              _pacman_pkg Qq;;
          ys*)
              { _arch_incomp 'g groups' && _pacman_pkg Sg; }      ||
              { _arch_incomp 'l list'   && _pacman_pkg Sl sort; } ||
              _pacman_pkg Slq;;
          yu*)
              _pacman_file;;
      esac
      return 0;
  }
  complete -F _pacalias ysyu
  complete -F _pacalias ys
  complete -F _pacalias yss
  complete -F _pacalias ysc
  complete -F _pacalias yscc
  complete -F _pacalias yqs
  complete -F _pacalias yql
  complete -F _pacalias yqi
  complete -F _pacalias yrs
  complete -F _pacalias yr

## aptitude/apt-get
elif [ "$pkg_manager" = "aptitude" ]; then
  alias apu='sudo $pkg_manager update'
  alias apuu='sudo $pkg_manager upgrade'
  alias api='sudo $pkg_manager install'
  alias apr='sudo $pkg_manager remove'
  alias app='sudo $pkg_manager purge'
  alias aps='sudo $pkg_manager search'
  alias apss='sudo $pkg_manager show'
  alias apc='sudo $pkg_manager clean'
  alias apcc='sudo $pkg_manager autoclean'
  alias apd='sudo $pkg_manager download'
  ### completion for aptitude / apt-get
  function _apalias()
  {
      local cur
      cur=`_get_cword`
      case $COMP_WORDS in
          api|apss|apd)
              COMPREPLY=( $( apt-cache pkgnames $cur 2> /dev/null ) )
              return 0;;
          apr|app)
              source /usr/share/bash-completion/completions/dpkg
              COMPREPLY=( $( _comp_dpkg_installed_packages "$cur" ) )
              return 0;;
      esac
      return 0
  }
  complete -F _apalias api
  complete -F _apalias apss
  complete -F _apalias apd
  complete -F _apalias apr
  complete -F _apalias app

## zypper
elif [ "$pkg_manager" = "zypper" ]; then
  alias zup='sudo zypper dup'
  alias zi='sudo zypper install'
  alias zin='sudo zypper info'
  alias zr='sudo zypper remove --clean-deps'
  alias zu='sudo zypper update'
  alias zs='zypper search'
  alias zss='zypper search -s'
  alias zsi='zypper search -i'
  alias zrf='sudo zypper refresh'
  alias zcl='sudo zypper clean -a'
  alias zlu='sudo zypper list-updates'
  alias zps='sudo zypper ps'
  alias zlocks='sudo zypper locks'
  alias zlock='sudo zypper addlock'
  alias zunlock='sudo zypper removelock'
  alias zlr='sudo zypper lr'
  alias zrr='sudo zypper rr'
  ### completion for zypper
  function _zyppalias()
  {
      local cur
      local -a opts=()
      source /usr/share/bash-completion/completions/zypper
      cur="${COMP_WORDS[COMP_CWORD]}"
      case $COMP_WORDS in
          zi|zin|zlock)
            opts=(${opts[@]}$(echo; _available_packages ))
        ;;
          zr|zu)
            opts=(${opts[@]}$(echo; _installed_packages ))
        ;;
      esac
      COMPREPLY=($(compgen -W "${opts[*]}" -- ${cur}))
      _strip
  }
  complete -F _zyppalias zi
  complete -F _zyppalias zin
  complete -F _zyppalias zlock
  complete -F _zyppalias zr
  complete -F _zyppalias zu

## homebrew
elif [ "$pkg_manager" = "brew" ]; then
  alias brf='brew update'
  alias bu='brew upgrade'
  alias bi='brew install'
  alias bin='brew info'
  alias br='brew uninstall'
  alias bs='brew search'
  alias bcl='brew cleanup'
  alias bo='brew outdated'
  alias bl='brew list'
fi

# core toolbox aliases (ls, cp, grep, find, vim, etc.)
## replacement
alias ls='lsd'
alias grep='rg'
alias diff='delta'
alias df='duf'
alias ps='procs'
alias less='bat --theme=base16'
alias cat='bat --theme=base16 -p -P'
alias curl='curlie'
alias dig='dog'
alias ping='prettyping'
alias vim='nvim'
alias vimdiff='nvim -d'
## aliases
alias c='cd'
alias l='ls -alh'
alias lr='ls -alrh'
alias lt='ls -larth'
alias ltr='ls -lath'
alias ldir='ls -ald'
alias ln='ln -si'
alias mv='mv -iv'
alias cp='cp -ripv'
alias rm='rm -rv'
alias du='du -h'
alias md='mkdir -p'
alias rd='rmdir'
alias kl='kill'
alias pk='pkill'
alias fl='file'
alias gp='grep'
alias sd='sed'
alias le='less'
alias he='head'
alias tp='top'
alias hd='head'
alias tl='tail'
alias lc='wc -l'
alias rs='rsync --progress --partial'
alias st='sort'
alias un='uniq'
alias wh='which'
alias pg='ping -c 5'
alias ct='cat'
alias le='less'
alias vim='nvim'
alias vd='vimdiff'
alias v='vim'
alias vi='vim'
alias nv='nvim'
alias cl='clear'
alias h='history'
alias m='man'
alias sb='source ~/.bashrc'
alias sz='source ~/.zshrc'
alias sct='systemctl'
alias jct='journalctl'
alias e='exit'
alias q='exit'

# app aliases
## common
alias scan='nmap -v -sT -Pn'
alias netscan='nmap -sn'
alias wth='curl wttr.in'
alias myip='curl iconfig.me'
alias mutt='neomutt'
alias backup='export RESTIC_PASSWORD=$(/usr/bin/pass backup) && restic -r /home/lg/bak'
## git
alias gs='git status'
alias gss='git status --short --branch'
alias gv='git show'
alias gd='git diff'
alias gc='git commit'
alias ga='git add'
alias gpl='git pull'
alias gps='git push'
alias grm='git rm'
alias gre='git restore'
alias gt='git timeline'
alias gct='fzf_git_log'
alias gl='git log --oneline --decorate'
alias gg='git grep'
alias gm='git merge'
alias gmv='git checkout'
alias gb='git branch'
alias gwip='git wip'
alias gu='git undo'
# svn
alias svu='svn update'
alias svs='svn status'
alias svc='svn commit -m'
alias svd='svn diff --diff-cmd colordiff -r HEAD'
alias svl='svn log -v'
alias sva='svn add'
alias svr='svn revert'
# python
alias p='python'
# k8s
alias k='kubecolor'
complete -o nospace -F __start_kubectl k
alias kctx='kubectx'
alias kns='kubens'

# navigation aliases
alias .='pwd'
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../..'
alias ......='cd ../../../../..'
alias prev='cd -'

# super user aliases
alias s='sudo '
alias sudo='sudo '
alias mys='sudo -E'
alias res='sudo !!'
alias sm='sudo mount'
alias ut='sudo umount'
alias reboot='sudo reboot'
alias poweroff='sudo halt'
