#---------------------------
#--       .gitconfig      --
#--      by lgaggini      --
#--      CC BY-SA 3.0     --
#---------------------------
[user]
    email = lg@lgaggini.net
    name = Lorenzo Gaggini
[color]
    ui = auto
[alias]
    st = status -s
    ci = commit
    br = branch
    co = checkout
    df = diff
    lg = log -p
    pl = pull
    ps = push
    timeline = log --graph \"--pretty=format:%C(192)%h%Creset by %C(bold 239)%an%Creset (%ar)%C(182)%d%Creset%n%s%n%b\" --all    
    ctimeline = log --graph --format=format:\"%C(yellow)%h%C(red)%d%C(reset) - %C(bold green)(%ar)%C(reset) %s %C(blue)<%an>%C(reset)\"
    stag = add -u
    unstag = reset HEAD --
    change-commits = "!f() { VAR=$1; OLD=$2; NEW=$3; shift 3; git filter-branch --env-filter \"if [[ \\\"$`echo $VAR`\\\" = '$OLD'  ]]; then export $VAR='$NEW'; fi\" $@;  }; f "
